.mail-address {
    color: #909090;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;

}
.td-mail-address p {
    color: #909090;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
}
.td-mail-address h2,
.td-mail-address h3 {
    text-align:center;
}
.td-mail-address span {
    font-size:15px;
}
.contact-links {
    margin-bottom:10px;
}
.custom-bold {
    font-weight: 600 !important;
}
.email-footer-links {
    font-size: 14px;
}
