.backorder-info {
    color: red;
    font-weight: bold;
}
.checkout-index-index {
    .page-header:not(.header-style-01) {
        border: 0 !important;
    }
}

.multishipping-checkout-success {
    .page-wrapper {
        .nav-sections {
            display: none;
            
            @media only screen and (max-width: 767px) {
                display: block;
            }
        }
    }
}
